$main-color: #841414;
$main-background: #fdeeee;
$lighter-gradient: rgb(218, 142, 142);
$lighter-text: #dfdfdf;
$post-background: #faa7a7;

@font-face {
  font-family: "Glacial Indifference";
  src: url("/assets/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

body {
  font-family: "Glacial Indifference", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: $main-background;
  font-size: 20px;
}
.link-container {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4vw;
  color: white;
}

.emphasized-text {
  color: $main-color;
}

.link-container:hover {
  background-color: $lighter-gradient;
}

.link-img {
  height: 75%;
  width: 75%;
}

.links-list {
  display: flex;
  flex-direction: row;
}

.post {
  max-width: 80%;
  background-color: $post-background;
  border-radius: 20px;
  padding: 10px;
}

.tag-container {
  background-color: $main-background;
}

.tag-container:hover {
  background-color: $main-color;
  color: $lighter-text;
}

.tag-link {
  text-decoration: none;
}
