$main-color: #841414;
$main-background: #fdeeee;
$lighter-gradient: rgb(218, 142, 142);
$lighter-text: #dfdfdf;
$post-background: #faa7a7;

@font-face {
  font-family: "Glacial Indifference";
  src: url("/assets/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

body {
  font-family: "Glacial Indifference", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: $main-background;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
}
.link-container {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4vw;
  color: white;
}

.emphasized-text {
  color: $main-color;
}

.tags-nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 40vw;
  max-width: 300px;
  flex-wrap: wrap;
  font-size: 20px;
  align-content: center;
}

.tags-nav {
  display: grid;
  grid-template-columns: max-content max-content;
  max-width: 300px;
  font-size: 20px;
  text-align: center;
}

.nav-tag {
  margin: 5px;
}

nav {
  top: 0;
  padding-top: 5px;
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: $main-background;
  z-index: 2;
}

.home-link {
  font-size: 30px;
  text-decoration: none;
}

.link-container:hover {
  background-color: $lighter-gradient;
}

.link-img {
  height: 75%;
  width: 75%;
}

.links-list {
  display: flex;
  flex-direction: row;
}

.post {
  width: 100%;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
}

.post-title {
  font-size: 40px;
}

.post-list {
  list-style: none;
}

.post-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hover-text {
  background-position: left bottom;
  text-decoration: none;
  background-image: linear-gradient($post-background 0%, $main-color 0%);
  background-size: 100% 5px;
  transition: all 750ms ease;
  background-repeat: no-repeat;
}

.hover-text:hover,
.hover-text:active {
  background-size: 100% 100%;
  color: white;
}

.small-hover-text {
  background-position: left bottom;
  text-decoration: none;
  background-image: linear-gradient($post-background 0%, $main-color 0%);
  background-size: 100% 2.5px;
  transition: all 750ms ease;
  background-repeat: no-repeat;
}

.small-hover-text:hover,
.small-hover-text:active {
  background-size: 100% 100%;
  color: white;
}

.tag-container {
  background-color: $main-background;
}

.tag-container:hover {
  background-color: $main-color;
  color: $lighter-text;
}

.tag-link {
  text-decoration: none;
}

footer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.footer-text {
  max-width: 70%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-title {
  font-size: 40px;
}

.main-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  padding-top: 4.5rem;
  align-content: center;
  align-items: center;
}

.post-description {
  font-size: 25px;
}

.break {
  width: 100%;
  background-color: $main-color;
}

li {
  list-style: none;
}

.scrobble {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 25px;
}
.scrobbled-img {
  width: 120px;
  height: auto;
}

.scrobble-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrobble-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
}

.scrobble-genre {
  margin: 5px;
}
